# Module-2 Python

## System Specification
- use `!` command in front to use local terminal type of thing
- also whenever you do `!ls` you can see that the file folder (sample_data) which google collab has provided shows meaning all your files are starting from this directory

In [ ]:
!cat /proc/cpuinfo
!cat /proc/meminfo
!ls
!cd / && pwd && ls

## Installing Libraries
- use !pip install library ex. pip install pandas
- import pandas as py and use inside code

## Python Basics

### Data Types:
- int
- float
- str (Can use "" or '' both to declare string)
- complex
- boolean (True and False)
  - Comparator (< > == can use along with boolean)
- using print() and type() funtions
  - print("shubham"*5) then 5 times print

In [ ]:
print("mergin"+"this")

In [ ]:
print(8+3)

In [ ]:
type(8)
type(8.3)
type("Syrting")

In [ ]:
a= 1+3j
print(a)
type(a)

b=True
c=False
type(c)

d= 7>3
print(d)

### Slicing & Steping & Concatenation A String
- Index starts with zero in python
- Stepping ek step mein string trim karega
- styrinA +stringB concatination

In [ ]:
a= "shubham"
print(a[1:3]) #starting from 1 to 3 wale
print(a[0:5:2]) #2 is the step here

### Constants and Variables
- variables can be redeclared while constants cannot
- multiple values to multiple varibales use `,` separated declaration
- single values to multiple varaible use `=`

In [ ]:
variable1 = "toppo"
print(variable1)
var1, var2 = "shubham", 5
print(var1)
print(var2)

x=y=z = 5
print(x)
print(y)

### Input Function and Changing Datatype in Python

In [ ]:
num1 = int(input("Enter number1 here :"))
num2 = int(input("Enter number2 here :"))
# By defaut input return string -> Convert into int -> int(string)
sum= num1+num2
print(sum)

integer=5
type(integer)
#Converting to float
floatvalue = float(integer)
print(floatvalue)

### Types of objects in Python
1) Mutable : Can be changed once created
- List, Set, Dictionary
  - List allows duplicate values
  - List append() to add element
  - list[index] to access element Index starts with zero
  - len(list) -to get length of list

2) Immutable
- int, float, str, bool, tuple

In [ ]:
# LIST -> Changebale
# Use [brackets] and can have multiple data types
my_list=[1,2,"English"]
print(my_list)
type(my_list)

#declaring values i using loop
python_list=[i for i in range(10000)]

# Add Element in list
my_list.append(90)
print(my_list)

#Indexing a list
print(my_list[2])

#Length
print(len(my_list))

# Deleting a index
del my_list[0]
print(my_list)

#Empty List
new_list=[]
new_list.append(400)

#Joining two list
join_list= my_list+new_list
print(join_list)

In [ ]:
# Tuple -> unchangebable
# Use (brackets) + allows multiple data type
tuple1= (1,2,"String")
print(tuple1)

#Convert List to Tuple
my_list=[2,3]
my_tuple=tuple(my_list)
print(my_tuple)

#Indexing in tuple
print(my_tuple[1])

#Length
print(len(my_tuple))

#Immutable can't change
# my_tuple.append(5) #Won't work

In [ ]:
#Set -> Mutable + Doesn't allow duplicates
# Use {bracket} + NoIndex here [index] wont work

mySet= {1,2,3,4}
print(mySet)
print(len(mySet))
# print(mySet[1]) #Throw Error

#Convert List TO a Set
listt=[7,8,9,9,9,9]
convert=set(listt)
print(convert)

In [ ]:
#Dictionary -> Key Value Pair + Duplicate Key not allowed
my_dict={"a":40,"b":"Value"}
print(my_dict)
print(type(my_dict))
print(my_dict["a"])

my_dict2={"a":40,"b":"Value","a":"other"}
my_dict2["c"]="declaring new value"

#delete key from dictionary
del my_dict2["b"]
print(my_dict2)
my_dict2.get("c")

### Operators In Python
- Maths -> + - / * **(power)
- Assignment Operator += -= /= %= **=
- Comparision Operator == != <= >=
- Logical Operator (and or not)
- Identity Operator (is is not) values match
- Membership operator (in not in) list match values

In [ ]:
#Maths
num1=5
num2=10
print("sum = ",num1**num2)
a=0
a+=num1

#Assignment Operator
print("sum = ",a)

#Comparision Operator
print(num1<=num2)

#Logical Operator
print(num1 and num2) #This return and operation on number
print(num1>10 or num2<20)
print(not(num1>10 or num2<20))

#Identity Operator
a=5
b=5
print(a is not b)

# Membership operator
listt=[1,2,3,4,5]
print(a not in listt)

### If Else Loops Function

In [ ]:
#If Else Condition
a=1
b=1
if(a<b):
  print("a is smaller")
elif(a>b):
  print("b is greater")
else:
  if(a<b):
    print("a is smaller")
  else:
    print("b is greater")

#Loops
numbers=[1,2,3]
for i in numbers:
  print(i)

sum=0
for i in range(3):  # i [0,1,2,3) not including 3
  sum*=i
print(sum)

for i in range(3,6):  # i [3,4,5,6) not including 6
  sum+=i
print(sum)

# While Loop
i=0
while i<3:
  print(i)
  i+=1

#Functions : Reusable block
def factorialFunc(num):
  factorial=1
  for i in range(1,num+1):
    factorial*=i
  return factorial

print(factorialFunc(5))

#Module-3 Python Libraries
- Numpy
- Matplotlib
- Pandas
- Seaborn

## Numpy - Numerical Python
- Allows mathematical operations
- Faster Operations (large datasets)
- Numpy Arrays
  - np.array are vector actually not separted by commas
  - a.shape // This is used to get dimension of vector
  - Number of Dimension print(c.ndim)
  - Size No of elements c.size
  - len(c) give no of rows len(c[0]) gives no of column
  - c.dtype datatype of array
  - np.zeros((4,5)) // Zero array
  - np.ones((dimenstion x y)) //1 array
  - np.full((4,5),10)
  - Identityi Matrix np.eye(2)
  - Random Matrix np.random.random((3,4))  && np.random.randint(0,10,(3,4),dtype=int)
  - List to nparray np.asarray(list1)
  - np.arange(10,30,5) Create evenly spaced array with step
  - np.linspace(10,30,9) // total 9 numbers

- Mathematical Operation
  - +-*/ (actual array addition operation element wise dimension need to be same) , incase of list it simply concatenate
  - np.divide(a,b) np.add np.subtract np.multiply // same thing
  - Since nparray are vectors actually

- Array Manipulation
  - Transpose np.transpose OR array.T

- Reshaping
  - b= a.reshape(6,2) if a.size no of elements =12 then b size should be 12 can be 1,12 or 3,4

In [ ]:
import numpy as np

#### LIST VS NUMPY - TIME TAKEN

In [ ]:
from time import process_time

#LIST
python_list=[i for i in range(100000)]
start_time=process_time()

python_list=[i+5 for i in python_list ]
end_time=process_time()

print("Python list time taken", end_time-start_time)

#NUMPY Array declare
np_array = np.array([i for i in range(100000)])
start_time=process_time()

# ADDing 5 to all elements in array
# np_array += 5 # easy syntax
# np_array = np.array([i+5 for i in np_array])
for i in range(len(np_array)):
  np_array[i]+=5
print(np_array)
end_time=process_time()

print("Python Numpy Array time taken", end_time-start_time)

#### Numpy Arrays

In [ ]:
# List Create
list1=[1,2,3]
type(list1)
print(list1)

#np array create ->
np_array = np.array([1,2,3])
type(np_array)
print(np_array)
# Np array are like vector not separarted by commans

In [ ]:
#Creating 1D array
a= np.array([1,2,3])
print(type(a))
print(a)
a.shape

#Creating 2D array
b= np.array([(1,2,3),(4,5,6)])
b.shape #row and column dimension

In [ ]:
# datatype defining with np array
#default integer hote
c= np.array([(1,2),(3,4)],dtype=float)
print(c)

In [ ]:
#Initial Placeholder in numpy arrays
# Initial Zeros With Rows and Columns
x= np.zeros((4,5))
print(x)
# Initial Ones With Rows and Columns
x= np.ones((4,5))
print(x)
#Particular Value
x= np.full((4,4),10)
print(x)

In [ ]:
#Identity Matrix (all diagonal values will be 1 rest 0)
# Only n*n hota rows=column
a= np.eye(2)
print(a)

#Random values matrix with dimenssion
b= np.random.random((3,4))
print(b)

#Random matrix integer and within range
c= np.random.randint(0,10,(3,4),dtype=int)
print(c)

#Array with evenly spaced values low high and 9 numbers total
d= np.linspace(10,30,9)
print(d)

#Array with evenly and space -> step jump
e= np.arange(10,30,9)
print(e)

In [ ]:
#Convert list/tuple to npArray
list1=[1,2,3]
tupl1=(1,2,3,4)
np_array=np.asarray(list1)
print(np_array)

In [ ]:
#Analysing a numpy array
c= np.random.randint(10,90,(5,6))
print(c)

#Array Dimension
c.shape

#Number of Dimension
print(c.ndim)

#Number of elements in array
print(c.size)
print(len(c[0])) #column numbers

#Datatype
print(c.dtype)

#### Mathematical operations on Numpy Array

In [ ]:
list1= [1,2,3,4,5]
list2=[6,7,8,9,10]
# List + concatenate list
print(list1+list2) #Element wise adding not happening

a= np.asarray(list1)
b= np.asarray(list2)
#Actual addition
print(a+b)

a= np.random.randint(10,30,(3,4))
b= np.random.randint(10,50,(3,4))
print(a/b)
#OR
print(np.divide(a,b))

#### Array Manipulation on npArray

In [ ]:
#Transpose
a= np.random.randint(10,30,(3,4))
trans = np.transpose(a)
#OR
trans2= a.T
print(a,a.shape)
print(trans,trans.shape)
print(trans2,trans2.shape)

#### Reshaping on npArray

In [ ]:
a= np.random.randint(10,30,(3,4))
print(a,a.shape)

b= a.reshape(6,2)
print(b,b.shape)

## Pandas - Dataframe
- Useful for Data Processing and Analysis
- Dataframe is 2d tabular data structure with labeled axes(rows and columns) like excel sheet column name
- SKLEARN
  - from sklearn.datasets(many datas hai to practice) import load_boston (inbuild datasets hai) sklearn.utils._bunch.Bunch type

- Dataframe
  - pd.DataFrame, .head() .tail() .info() .isnull().sum() each column null values
    - value_counts('magnesium')
    - groupby('columnName).mean()
  - pd.read_csv(Give Path to CSV)
  - diabetes_df.shape //Dimension
  - pd.read_excel(path)
  - df.to_csv("filename") wine_df.to_excel("wineCSV.") Exporting to csv and excel
  - pd.DataFrame(random_np) // using numpy array to create dataframe
  - Statiscial Measures (Each column)
    - df.count() mean() std() .min() .max()
    - All Statistical in one go df.describe()
  - Manipulating Dataframe
    - Add Column df['columnname']=1d array or target from dataset {no of values should be same as other columns}
  - Locating particular row and column
    - .iloc[index] //row print
    - .iloc[:,index] //column print : means all rows values
    - .iloc[row,col] //particular value
    - .iloc[:,-1] #Last column
  -  Correlation
    - Positive and Negative
    - Relation between various columns
    - wine_df.corr() # All columns wrt to other column

In [ ]:
# importing
import pandas as pd

#### SKLEARN DATASETS
- inbuild datasets

In [ ]:
# importing the inbuild datasets
# Inbuild data hai
from sklearn.datasets import load_wine
wine_dataset = load_wine()

type(wine_dataset) #sklearn.utils._bunch.Bunch
# print(wine_dataset)

#### Creating Pandas Dataframe

In [ ]:
wine_df= pd.DataFrame(wine_dataset.data,columns=wine_dataset.feature_names)
# print(wine_df)
wine_df.head() #Printing 5 rows
# type(wine_df)

In [ ]:
# Dimenshion of dataframe
wine_df.shape

#### Reading CSV File

In [ ]:
#Importing CSV File as a pandas dataframe
diabetes_df=pd.read_csv("/content/diabetes.csv")
diabetes_df.head()
# type(diabetes_df) #pandas.core.frame.DataFrame
# diabetes_df.shape

#### Exporting Dataframe to CSV/EXCEL File

In [ ]:
wine_df.to_csv("wineCSV")
# wine_df.to_excel("wineCSV.")

###### Dataframe with randomNumbers

In [ ]:
import numpy as np
import pandas as pd

random_np=np.random.rand(20,10)
random_np= np.random.randint(0,10,(3,4),dtype=int)
random_df = pd.DataFrame(random_np)
random_df.head()

#### Inspecting A Dataframe

In [ ]:
# Finding rows and columns
wine_df.shape

#First 5 rows in a Dataframe
wine_df.head()

#Last 5 rows in a Dataframe
wine_df.tail()

#Information about the Dataframe
wine_df.info()

In [ ]:
# Finding the number of missing values in each column
wine_df.isnull().sum()

In [ ]:
#Counting the values based on a column
wine_df.head()


wine_df.value_counts('magnesium')

In [ ]:
#Group values based on mean
wine_df.groupby('magnesium').mean()

#### Statiscial Measures

In [ ]:
wine_df.count()
wine_df.mean()
wine_df.std()
wine_df.min()
wine_df.describe() #All in one statiscaly data

#### Manipulating a Dataframe
- add, drop column and row
- wine_df.drop(index=0,axis=0) row remove based on index AXIS=0
- COLUMN wine_df.drop(columns='RandomAttach',axis=1)remove axis=1

In [ ]:
from sklearn.datasets import load_wine
wine_dataset = load_wine()
# print(wine_dataset)
wine_df= pd.DataFrame(wine_dataset.data,columns=wine_dataset.feature_names)
wine_df.head()

# Adding a column in dataframe
# wine_dataset has target column till now wine_df uses only feature_name
wine_df['Outcome']=wine_dataset.target
wine_df.tail()

#number of columns length should be same
# wine_df.shape (178, 14)
temp_np= np.random.randint(10,30,(178,1))
# print(temp_np)
wine_df['RandomAttach']=temp_np
wine_df.tail()

In [ ]:
# Removing a row
wine_df.head()
# wine_df.shape
wine_df.drop(index=2,axis=0)
# wine_df.head()
wine_df.drop(columns='RandomAttach',axis=1)

#### Locating a row/column based on index

In [ ]:
wine_df_afterRemovingColumn=wine_df.drop(columns='RandomAttach',axis=1)
wine_df_afterRemovingColumn.iloc[2]

In [ ]:
wine_df_afterRemovingColumn.iloc[:,0] #First column
wine_df_afterRemovingColumn.iloc[3,0]
wine_df_afterRemovingColumn.iloc[:,-1] #Last column

#### Correlation
- Positive and Negative
- Relation between various columns

In [ ]:
wine_df.head()
wine_df.corr() # All columns wrt to other column

## Matplotlib - Plots
- Numpy usage
  - np.sin(x) cos(x) trignometry x can be array
  - x**2 parabola
- Plotting Values (X & Y Plotting)
  - plt.plot(x,z) plot(x,y,'r+') 'g.' // color and sign
  - plt.show()
  - plt.xlabel(name) .ylabel(name) .title(PlotName)
- Bar Plot
  - plt.figure()
  - ax = fig.add_axes([0,0,1,1])
  - ax.bar(languages,people) 1d 1d array data
- Pie Chart
  - ax.pie(people,labels=languages,autopct='%1.1f%%') one decimal places
- Scatter Plotn # useful in clustering data
  - ax.scatter(x,y,color='g')
  - x and y 1d values
- 3D Scatter Plot
  - ax = plt.axes(projection='3d') (projection='3d') #need to mention

In [ ]:
#importing library
import matplotlib.pyplot as plt
#imporint np for data to plot
import numpy as np

In [ ]:
x= np.linspace(0,10,100) #total 100 values
y= np.sin(x) # Create 100 values as vector
z= np.cos(x)

#### Plotting the Data (X and Y type)

In [ ]:
# sine wave x and y
plt.plot(x,y)
plt.show()

In [ ]:
#cosine Wave
#Adding Labels in x and y
plt.plot(x,z)
plt.xlabel("Angles")
plt.ylabel("Cos Value")
plt.title("Trignometry")
plt.show()

In [ ]:
#PARABOLA
x= np.linspace(-10,10,20)
y= x**2
plt.plot(x,y,'r+')
plt.plot(x,y,'g.')
plt.show()

In [ ]:
#Merging Graphs
x= np.linspace(-10,10,500)
plt.plot(x,np.sin(x),'r+')
plt.plot(x,np.cos(x),'g.')
plt.show()

#### Bar Plot

In [ ]:
fig= plt.figure() # Empty plot blank
ax = fig.add_axes([0,0,1,1]) # Area of plot General value used
languages= ['E','A','F','D']
people= [100,30,40,50]
# language and people same dimension

ax.bar(languages,people)
plt.xlabel("Languages")
plt.ylabel("No. of people")
plt.show()

#### Pie Chart

In [ ]:
fig1 = plt.figure()
ax = fig1.add_axes([0,0,1,1]) # Area of plot
languages= ['E','A','F','D']
people= [100,30,40,50]
ax.pie(people,labels=languages,autopct='%1.1f%%')
plt.show()

#### Scatter Plot

In [ ]:
# useful in clustering data
x= np.linspace(0,10,30)
y= np.sin(x)
z=np.cos(x)
fig2 = plt.figure()
ax = fig2.add_axes([0,0,1,1]) # Area of plot Rectangular
ax.scatter(x,y,color='g')
ax.scatter(x,z,color='b')
plt.show()

#### 3D Scatter Plot

In [ ]:
fig2 = plt.figure()
ax = plt.axes(projection='3d') #need to mention
z= 20*np.random.random(100)
x=np.sin(z)
y=np.cos(z)
ax.scatter(x,y,z,c=z,cmap='Blues')
plt.show()

## Seaborn - Data Visualization Library
- Like Matplot helpful (Sometimes build seaborn plot on top of matplot)
- Different Types of plot
- Seaborn has some build-in datasets imported as form of `pandas dataframe`
  - sns.load_dataset
- Commands
  - sns.set_theme() // more space and grids
  - sns.relplot(data=tips,x='total_bill',y='tip',col='time',hue='smoker',style='smoker',size='size')
    - col (differnet plots) hue(same plot differentiate based on hue column)
  - sns.scatterplot(x='sepal_length',y='petal_length',hue='species',data=iris)
  - sns.countplot(x='class',data=titanic)
  - sns.barplot(x='sex',y='survived',hue='class',data=titanic)
    - hue(same plot differentiate based on hue column)
  - sns.distplot(wine_df['alcohol'])

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#### Build in Seaborn Datasets

In [ ]:
tips= sns.load_dataset("tips")
# this tips is pandas dataframe
tips.head()

In [ ]:
#Setting the theme for plots
sns.set_theme()
# more spaced and grids

##### Normal Plot

In [ ]:
#Visualize data x axis and yaxis with column name + COL (multiple plots for unique value of col)
# Data differentiated based on smoker
#HUE helps in differentiating us column differnet types
sns.relplot(data=tips,x='total_bill',y='tip',col='time',hue='smoker',style='smoker',size='size')

In [ ]:
#Load the iris databaset //flower and species
iris=sns.load_dataset("iris")
iris.head()

##### Scatter Plot

In [ ]:
#Predict species of flower based on length and width of sepal and petal

#Scatter Plot
# sns.scatterplot(x='sepal_length',y='petal_length',hue='species',data=iris)
# speices -> differnet colour
sns.scatterplot(x='sepal_width',y='petal_width',hue='species',data=iris)

##### Titanic Datasets

In [ ]:
titanic= sns.load_dataset("titanic")
titanic.head()
# print(titanic.shape)

##### Count Plot

In [ ]:
sns.countplot(x='class',data=titanic)
sns.countplot(x='survived',data=titanic)

##### Bar chart Plot

In [ ]:
sns.barplot(x='sex',y='survived',hue='class',data=titanic)

##### House Price Datasets SKLEARN

In [ ]:
from sklearn.datasets import load_wine
wine_dataset = load_wine()

wine_df= pd.DataFrame(wine_dataset.data,columns=wine_dataset.feature_names)
wine_df["target"]=wine_dataset.target

wine_df.tail()

##### Distribution Plot
  - Count vs range of all values

In [ ]:
sns.distplot(wine_df['alcohol'])