# Module-2 Python

## System Specification
- use `!` command in front to use local terminal type of thing
- also whenever you do `!ls` you can see that the file folder (sample_data) which google collab has provided shows meaning all your files are starting from this directory

In [ ]:
!cat /proc/cpuinfo
!cat /proc/meminfo
!ls
!cd / && pwd && ls

## Installing Libraries
- use !pip install library ex. pip install pandas
- import pandas as py and use inside code

## Python Basics

### Data Types:
- int
- float
- str (Can use "" or '' both to declare string)
- complex
- boolean (True and False)
  - Comparator (< > == can use along with boolean)
- using print() and type() funtions
  - print("shubham"*5) then 5 times print

In [18]:
print("mergin"+"this")

merginthis

In [19]:
print(8+3)

11

In [29]:
type(8)
type(8.3)
type("Syrting")

str

In [33]:
a= 1+3j
print(a)
type(a)

b=True
c=False
type(c)

d= 7>3
print(d)

(1+3j)
True

### Slicing & Steping & Concatenation A String
- Index starts with zero in python
- Stepping ek step mein string trim karega
- styrinA +stringB concatination

In [35]:
a= "shubham"
print(a[1:3]) #starting from 1 to 3 wale
print(a[0:5:2]) #2 is the step here

hu
suh

### Constants and Variables
- variables can be redeclared while constants cannot
- multiple values to multiple varibales use `,` separated declaration
- single values to multiple varaible use `=`

In [ ]:
variable1 = "toppo"
print(variable1)
var1, var2 = "shubham", 5
print(var1)
print(var2)

x=y=z = 5
print(x)
print(y)

### Input Function and Changing Datatype in Python

In [28]:
num1 = int(input("Enter number1 here :"))
num2 = int(input("Enter number2 here :"))
# By defaut input return string -> Convert into int -> int(string)
sum= num1+num2
print(sum)

integer=5
type(integer)
#Converting to float
floatvalue = float(integer)
print(floatvalue)

Enter number1 here :10
Enter number2 here :20
30
5.0

### Types of objects in Python
1) Mutable : Can be changed once created
- List, Set, Dictionary
  - List allows duplicate values
  - List append() to add element
  - list[index] to access element Index starts with zero
  - len(list) -to get length of list

2) Immutable
- int, float, str, bool, tuple

In [ ]:
# LIST
# Use [brackets] and can have multiple data types
my_list=[1,2,"English"]
print(my_list)
type(my_list)

# Add Element in list
my_list.append(90)
print(my_list)

#Indexing a list
print(my_list[2])

#Length
print(len(my_list))

# Deleting a index
del my_list[0]
print(my_list)

#Empty List
new_list=[]
new_list.append(400)

#Joining two list
join_list= my_list+new_list
print(join_list)

In [44]:
# Tuple
# Use (brackets) + allows multiple data type
tuple1= (1,2,"String")
print(tuple1)

#Convert List to Tuple
my_list=[2,3]
my_tuple=tuple(my_list)
print(my_tuple)

(1, 2, 'String')
(2, 3)