# Module-2 Python

## System Specification
- use `!` command in front to use local terminal type of thing
- also whenever you do `!ls` you can see that the file folder (sample_data) which google collab has provided shows meaning all your files are starting from this directory

In [ ]:
!cat /proc/cpuinfo
!cat /proc/meminfo
!ls
!cd / && pwd && ls

## Installing Libraries
- use !pip install library ex. pip install pandas
- import pandas as py and use inside code

## Python Basics

### Data Types:
- int
- float
- str

- using print() and type() funtions

In [18]:
print("mergin"+"this")

merginthis

In [19]:
print(8+3)

11

In [24]:
type(8)
type(8.3)
type("Syrting")

str

### Constants and Variables
- variables can be redeclared while constants cannot
- multiple values to multiple varibales use `,` separated declaration
- single values to multiple varaible use `=`

In [ ]:
variable1 = "toppo"
print(variable1)
var1, var2 = "shubham", 5
print(var1)
print(var2)

x=y=z = 5
print(x)
print(y)

### Input Function and Changing Datatype in Python

In [28]:
num1 = int(input("Enter number1 here :"))
num2 = int(input("Enter number2 here :"))
# By defaut input return string -> Convert into int -> int(string)
sum= num1+num2
print(sum)

integer=5
type(integer)
#Converting to float
floatvalue = float(integer)
print(floatvalue)

Enter number1 here :10
Enter number2 here :20
30
5.0