# Module-2 Python

## System Specification
- use `!` command in front to use local terminal type of thing
- also whenever you do `!ls` you can see that the file folder (sample_data) which google collab has provided shows meaning all your files are starting from this directory

In [ ]:
!cat /proc/cpuinfo
!cat /proc/meminfo
!ls
!cd / && pwd && ls

## Installing Libraries
- use !pip install library ex. pip install pandas
- import pandas as py and use inside code

## Python Basics

### Data Types:
- int
- float
- str (Can use "" or '' both to declare string)
- complex
- boolean (True and False)
  - Comparator (< > == can use along with boolean)
- using print() and type() funtions
  - print("shubham"*5) then 5 times print

In [ ]:
print("mergin"+"this")

In [ ]:
print(8+3)

In [ ]:
type(8)
type(8.3)
type("Syrting")

In [ ]:
a= 1+3j
print(a)
type(a)

b=True
c=False
type(c)

d= 7>3
print(d)

### Slicing & Steping & Concatenation A String
- Index starts with zero in python
- Stepping ek step mein string trim karega
- styrinA +stringB concatination

In [ ]:
a= "shubham"
print(a[1:3]) #starting from 1 to 3 wale
print(a[0:5:2]) #2 is the step here

### Constants and Variables
- variables can be redeclared while constants cannot
- multiple values to multiple varibales use `,` separated declaration
- single values to multiple varaible use `=`

In [ ]:
variable1 = "toppo"
print(variable1)
var1, var2 = "shubham", 5
print(var1)
print(var2)

x=y=z = 5
print(x)
print(y)

### Input Function and Changing Datatype in Python

In [ ]:
num1 = int(input("Enter number1 here :"))
num2 = int(input("Enter number2 here :"))
# By defaut input return string -> Convert into int -> int(string)
sum= num1+num2
print(sum)

integer=5
type(integer)
#Converting to float
floatvalue = float(integer)
print(floatvalue)

### Types of objects in Python
1) Mutable : Can be changed once created
- List, Set, Dictionary
  - List allows duplicate values
  - List append() to add element
  - list[index] to access element Index starts with zero
  - len(list) -to get length of list

2) Immutable
- int, float, str, bool, tuple

In [ ]:
# LIST -> Changebale
# Use [brackets] and can have multiple data types
my_list=[1,2,"English"]
print(my_list)
type(my_list)

#declaring values i using loop
python_list=[i for i in range(10000)]

# Add Element in list
my_list.append(90)
print(my_list)

#Indexing a list
print(my_list[2])

#Length
print(len(my_list))

# Deleting a index
del my_list[0]
print(my_list)

#Empty List
new_list=[]
new_list.append(400)

#Joining two list
join_list= my_list+new_list
print(join_list)

In [ ]:
# Tuple -> unchangebable
# Use (brackets) + allows multiple data type
tuple1= (1,2,"String")
print(tuple1)

#Convert List to Tuple
my_list=[2,3]
my_tuple=tuple(my_list)
print(my_tuple)

#Indexing in tuple
print(my_tuple[1])

#Length
print(len(my_tuple))

#Immutable can't change
# my_tuple.append(5) #Won't work

In [ ]:
#Set -> Mutable + Doesn't allow duplicates
# Use {bracket} + NoIndex here [index] wont work

mySet= {1,2,3,4}
print(mySet)
print(len(mySet))
# print(mySet[1]) #Throw Error

#Convert List TO a Set
listt=[7,8,9,9,9,9]
convert=set(listt)
print(convert)

In [ ]:
#Dictionary -> Key Value Pair + Duplicate Key not allowed
my_dict={"a":40,"b":"Value"}
print(my_dict)
print(type(my_dict))
print(my_dict["a"])

my_dict2={"a":40,"b":"Value","a":"other"}
my_dict2["c"]="declaring new value"

#delete key from dictionary
del my_dict2["b"]
print(my_dict2)
my_dict2.get("c")

### Operators In Python
- Maths -> + - / * **(power)
- Assignment Operator += -= /= %= **=
- Comparision Operator == != <= >=
- Logical Operator (and or not)
- Identity Operator (is is not) values match
- Membership operator (in not in) list match values

In [ ]:
#Maths
num1=5
num2=10
print("sum = ",num1**num2)
a=0
a+=num1

#Assignment Operator
print("sum = ",a)

#Comparision Operator
print(num1<=num2)

#Logical Operator
print(num1 and num2) #This return and operation on number
print(num1>10 or num2<20)
print(not(num1>10 or num2<20))

#Identity Operator
a=5
b=5
print(a is not b)

# Membership operator
listt=[1,2,3,4,5]
print(a not in listt)

### If Else Loops Function

In [ ]:
#If Else Condition
a=1
b=1
if(a<b):
  print("a is smaller")
elif(a>b):
  print("b is greater")
else:
  if(a<b):
    print("a is smaller")
  else:
    print("b is greater")

#Loops
numbers=[1,2,3]
for i in numbers:
  print(i)

sum=0
for i in range(3):  # i [0,1,2,3) not including 3
  sum*=i
print(sum)

for i in range(3,6):  # i [3,4,5,6) not including 6
  sum+=i
print(sum)

# While Loop
i=0
while i<3:
  print(i)
  i+=1

#Functions : Reusable block
def factorialFunc(num):
  factorial=1
  for i in range(1,num+1):
    factorial*=i
  return factorial

print(factorialFunc(5))

#Module-3 Python Libraries
- Numpy
- Matplotlib
- Pandas
- Seaborn

## Numpy - Numerical Python
- Allows mathematical operations
- Faster Operations (large datasets)
- np.array are vector actually not separted by commas
- a.shape // This is used to get dimension of vector

In [2]:
import numpy as np

#### LIST VS NUMPY - TIME TAKEN

In [ ]:
from time import process_time

#LIST
python_list=[i for i in range(100000)]
start_time=process_time()

python_list=[i+5 for i in python_list ]
end_time=process_time()

print("Python list time taken", end_time-start_time)

#NUMPY Array declare
np_array = np.array([i for i in range(100000)])
start_time=process_time()

# ADDing 5 to all elements in array
# np_array += 5 # easy syntax
# np_array = np.array([i+5 for i in np_array])
for i in range(len(np_array)):
  np_array[i]+=5
print(np_array)
end_time=process_time()

print("Python Numpy Array time taken", end_time-start_time)

#### Numpy Arrays

In [3]:
# List Create
list1=[1,2,3]
type(list1)
print(list1)

#np array create ->
np_array = np.array([1,2,3])
type(np_array)
print(np_array)
# Np array are like vector not separarted by commans

[1, 2, 3]
[1 2 3]

In [6]:
#Creating 1D array
a= np.array([1,2,3])
print(type(a))
print(a)
a.shape

#Creating 2D array
b= np.array([(1,2,3),(4,5,6)])
b.shape #row and column dimension

<class 'numpy.ndarray'>
[1 2 3]

(2, 3)